/* Author: Lydia Acton */

body{
    margin: 0;
}

canvas{
    position: absolute;
    z-index: -1;
}

#input{
    font-family: Verdana,sans-serif;
    margin: 1em;
    position: absolute;
}

#input p{
    display: inline-block;
}

#input input{
    display: inline-block;
}